<app-loader *ngIf="isLoading"></app-loader>
<div class="alert alert-success" role="alert" *ngIf="isSuccess" [ngStyle]="{'width':'100%'}">
    {{successMessage}}
</div>
<div class="alert alert-danger" role="alert" *ngIf="isError" [ngStyle]="{'width':'100%'}">
    {{errorMessage}}
</div>

<div class="container">
    <form class="form" #loginForm="ngForm" (ngSubmit)="onLoginFormSubmit(loginForm)">
        <p id="head-title">Login</p>

        <div class="login-field">
            <i class="input-icon fa-solid fa-user"></i>
            <input type="text" 
                class="input-field" 
                placeholder="Username" 
                name="username" 
                ngModel 
                required>
        </div>

        <div class="login-field">
            <i class="input-icon fa-solid fa-envelope"></i>
            <input type="email" 
                class="input-field" 
                placeholder="Email" 
                name="email" 
                ngModel 
                required
                email>
        </div>

        <div class="login-field">
            <i class="input-icon fa-solid fa-lock"></i>
            <input type="password" 
                class="input-field" 
                placeholder="PassWord" 
                name="password" 
                ngModel 
                required
                minlength="6" 
                [type]="isPasswordVisible ? 'text' : 'password'">
            <i id="showPassword" 
                class="fa-solid" 
                [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'" 
                (click)="showPassword()"></i>
        </div>
        

        <div class="btn">
            <button class="button-1"
            type="submit"
            [disabled]="loginForm.invalid"
            >LogIn
            </button>
        </div>

        <div class="btn-signup">
            <p>I don't have an account <a routerLink="/signup" (click)="onLoginSwitchMode()">Create An Account</a></p>
        </div>

        <div class="remember-me">
            <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe">
            <label for="rememberMe">Remember me</label>
        </div>
        

        <button class="button-2">Forgot Password</button>
        
    </form>
</div>